# Node.js specific files
node_modules/
npm-debug.log*
yarn-error.log*

# Environment veriables
.env
.env.*

# Editor-specific files
.vscode/
*.suo
*.ntvs*
*.user
*.sln
*.tmp
*.bak
*.orig
*.bkp
*.old

# Testing files
/coverage/
/test/
*.log

# Build files
/dist/
/build/

# OS specific files
.DS_Store
Thumbs.db

# Specific to TypeScript projects
.tscache/
*.tsbuildinfo
