# Rename it to .env
PORT=YOUR_VALUE_GOES_HERE
NODE_ENV=YOUR_VALUE_GOES_HERE
MONGO_URI=YOUR_VALUE_GOES_HERE
SESSION_SECRET=YOUR_VALUE_GOES_HERE
CLIENT_URL=YOUR_VALUE_GOES_HERE
JWT_SECRET=YOUR_VALUE_GOES_HERE
SMTP_HOST=YOUR_VALUE_GOES_HERE
SMTP_PORT=YOUR_VALUE_GOES_HERE
SMTP_USERNAME=YOUR_VALUE_GOES_HERE
SMTP_PASSWORD=YOUR_VALUE_GOES_HERE
USER_EMAIL=YOUR_VALUE_GOES_HERE
REDIS_HOST=YOUR_VALUE_GOES_HERE
REDIS_PORT=YOUR_VALUE_GOES_HERE
